* {
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}

body {
  font-family: "Montserrat",  sans-serif;
}

.fixed {
  position: fixed;
  width: 100%;
}

.to-top {
  z-index: 10;
  position: fixed;
  bottom: 15px;
  right: 15px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  -webkit-box-shadow: 0 0 10px 0 #3c3c3c;
          box-shadow: 0 0 10px 0 #3c3c3c;
  background: #fff url("../img/header/to-top.png") center 52% no-repeat;
}

.to-top:hover {
  cursor: pointer;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.container {
  max-width: 95%;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.logo_notext {
  margin-right: 40px;
}

.logo_text {
  display: none;
}

.button {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 19px 33px;
  border: none;
  background: -webkit-gradient(linear, left top, right top, from(#f68b1f), to(#f74c00));
  background: linear-gradient(to right, #f68b1f 0%, #f74c00 100%);
  color: #fff;
  border-radius: 50px;
  font-size: 20px;
  font-weight: 900;
  line-height: 21.15px;
  text-transform: uppercase;
  -webkit-box-shadow: 0 15px 20px rgba(0, 0, 0, 0.25);
          box-shadow: 0 15px 20px rgba(0, 0, 0, 0.25);
}

.button:hover {
  cursor: pointer;
  background: -webkit-gradient(linear, left top, right top, from(#f74c00), to(#f68b1f));
  background: linear-gradient(to right, #f74c00 0%, #f68b1f 100%);
}

.button-o {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  background: none;
  border: 1px solid #f68b1f;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: #f68b1f;
}

.button-o:hover {
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
  background: none;
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
}

.more {
  display: block;
  text-align: center;
  font-size: 14px;
  color: #000;
}

.circle-wrapper {
  position: relative;
}

section {
  overflow: hidden;
  padding-top: 62px;
  padding-bottom: 50px;
}

.section-title {
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 57px;
  text-align: center;
  font-size: 35px;
  font-weight: 900;
}

@media (min-width: 460px) {
  section .container {
    max-width: 410px;
  }
  .logo_text {
    display: inline-block;
  }
  .logo_notext {
    display: none;
  }
}

@media (min-width: 576px) {
  .container, section .container {
    max-width: 540px;
    padding-right: 15px;
    padding-left: 15px;
  }
  .more {
    margin-top: 20px;
    font-size: 16px;
  }
}

@media (min-width: 768px) {
  .container, section .container {
    max-width: 710px;
  }
  section {
    padding-top: 70px;
    padding-bottom: 60px;
  }
}

@media (min-width: 992px) {
  .container, section .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container, section .container {
    max-width: 1170px;
  }
  section {
    padding-top: 95px;
    padding-bottom: 65px;
  }
}

@media (min-width: 1300px) {
  .big-section .container {
    max-width: 1250px;
  }
}

.header {
  position: relative;
  background-color: #f0f1eb;
}

.header-menu {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  z-index: 100;
  top: 0;
  left: 0;
  position: fixed;
  padding: 10px 0;
  width: 100%;
  background-color: #f5f5f5;
  -webkit-box-shadow: 0 3px 4px rgba(0, 0, 0, 0.12);
          box-shadow: 0 3px 4px rgba(0, 0, 0, 0.12);
}

.header-menu__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-menu_hidden {
  top: -86px;
}

.header-menu__logo {
  margin-right: 17px;
}

.header-menu__logo img {
  max-height: 36.02px;
}

.header-menu__nav {
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  position: fixed;
  width: 0;
  height: 120vh;
  top: 0;
  left: 0;
  overflow: hidden;
}

.header-menu__nav ul {
  padding: 0;
  margin: 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  padding-top: 50px;
  background-color: #26282b;
  width: 100%;
  height: 100%;
  display: block;
}

.header-menu__nav ul li {
  text-align: center;
  white-space: nowrap;
  margin-bottom: 70px;
  font-size: 20px;
  overflow: hidden;
}

.header-menu__nav ul li a {
  color: #fff;
  text-decoration: none;
  position: relative;
}

.header-menu__nav ul li a::after {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  content: '';
  position: absolute;
  bottom: -5px;
  height: 2px;
  background-color: rgba(43, 42, 44, 0.8);
  left: 50%;
  width: 0;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.header-menu__nav ul li a:hover:after {
  z-index: 1;
  width: 100%;
}

.header-menu__nav_active {
  width: 100%;
}

.header-menu__nav_active ul {
  -webkit-box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.5);
}

.header-menu__phone {
  color: #000;
  text-decoration: none;
  font-size: 16px;
  font-weight: 800;
}

.header-menu__button {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  z-index: 1000;
  right: 0;
  top: 0;
  width: 60px;
  height: 60px;
  border: 0 solid #747474;
  background-color: #26282b;
  position: fixed;
}

.header-menu__button_hidden {
  top: -84px;
}

.header-menu__button::before, .header-menu__button::after, .header-menu__button span {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  position: absolute;
  width: 26px;
  height: 3px;
  background-color: #fff;
  top: 50%;
  margin-top: -1.5px;
  left: 50%;
  margin-left: -13px;
}

.header-menu__button::before {
  content: '';
  top: 35%;
}

.header-menu__button::after {
  content: '';
  top: 65%;
}

.cross span {
  opacity: 0;
}

.cross::after {
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
  top: 50%;
}

.cross::before {
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
  top: 50%;
}

@media (min-width: 460px) {
  .header-menu__nav li {
    font-size: 22px;
  }
  .header-menu__wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .header-menu__phone {
    font-size: 18px;
  }
  .header-menu__button {
    width: 60px;
    height: 60px;
  }
}

@media (min-width: 768px) {
  .header-title {
    font-size: 71px;
  }
  .header-title_first {
    font-size: 89px;
  }
  .header-menu__logo {
    margin-right: 68px;
  }
  .header-menu__logo img {
    max-height: 60.02px;
  }
  .header-menu__phone {
    font-size: 25px;
  }
  .header-menu__button {
    width: 84px;
    height: 84px;
  }
  .header-menu__button::before, .header-menu__button::after, .header-menu__button span {
    width: 36px;
    height: 4px;
    margin-left: -18px;
  }
  .header-menu__button::before {
    top: 38%;
  }
  .header-menu__button::after {
    top: 62%;
  }
}

.cross span {
  opacity: 0;
}

.cross::after {
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
  top: 50%;
}

.cross::before {
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
  top: 50%;
}

@media (min-width: 992px) {
  .header-menu__logo {
    margin-right: 20px;
  }
  .header-menu__wrapper {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header-menu__phone {
    position: relative;
  }
  .header-menu__phone::after {
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    content: '';
    position: absolute;
    bottom: -5px;
    height: 2px;
    background-color: rgba(43, 42, 44, 0.8);
    left: 50%;
    width: 0;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .header-menu__phone:hover:after {
    width: 100%;
  }
  .header-menu__nav {
    width: auto;
    height: auto;
    position: relative;
    overflow: initial;
  }
  .header-menu__nav ul {
    background: none;
    width: auto;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0;
    margin: 0;
    list-style: none;
  }
  .header-menu__nav ul li {
    overflow: initial;
    margin: 0;
  }
  .header-menu__nav ul li a {
    margin-right: 10px;
    color: #000;
    font-size: 15px;
  }
  .header-menu__button {
    display: none;
  }
  .header-menu__phone {
    font-size: 20px;
  }
}

@media (min-width: 1200px) {
  .header-menu__nav ul li a {
    font-size: 21px;
    margin-right: 20px;
  }
}

.header {
  overflow: hidden;
}

.header-main {
  margin-top: 60px;
  padding-top: 12px;
  padding-bottom: 28px;
}

.header-main__hero {
  position: relative;
  padding: 35px 27px 23px;
  -webkit-box-shadow: 0 0 46px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 46px rgba(0, 0, 0, 0.3);
  border-radius: 15px;
}

.header-main__hero_blue {
  background-image: -webkit-gradient(linear, left top, right top, from(#c8f1ff), to(#44c8f5));
  background-image: linear-gradient(to right, #c8f1ff 0%, #44c8f5 100%);
  border: 1px solid #205ebd;
  margin-bottom: 291px;
  z-index: 2;
}

.header-main__hero_blue .hero-form__input {
  border: 1px solid #205ebd;
  background-color: #d0ebff;
}

.header-main__hero_blue li::before {
  background: url("../img/hero-blue/checked.png") center no-repeat;
}

.header-main__hero_green {
  background-image: -webkit-gradient(linear, left top, right top, from(#d0fed3), to(#8effc3));
  background-image: linear-gradient(to right, #d0fed3 0%, #8effc3 100%);
  border: 1px solid #01a759;
}

.header-main__hero_green .hero-form__input {
  border: 1px solid #01a056;
  background-color: #daffdd;
}

.header-main__hero_green .hero-subtitle {
  font-weight: 700;
}

.header-main__hero_green li::before {
  background: url("../img/hero-green/checked.png") center no-repeat;
}

.header-main__hero .hero-rocket {
  width: 150px;
  position: absolute;
  right: 17px;
  top: -18px;
}

.header-main__hero .hero-discount {
  width: 96px;
  position: absolute;
  right: -5px;
  top: -30px;
}

.header-main__hero .hero-gift {
  width: 183px;
  position: absolute;
  top: -36px;
  right: -8px;
}

.header-main__hero .hero-helicopter {
  width: 200px;
  position: absolute;
  bottom: -104px;
  right: -8px;
}

.header-main__hero .hero-ship {
  position: absolute;
  bottom: -173px;
  left: -110px;
  width: 312px;
}

.header-main__hero .hero-men {
  z-index: 5;
  width: 170px;
  position: absolute;
  top: -185px;
  left: 12px;
}

.header-main__hero .hero-title {
  max-width: 70%;
  margin: 0;
  font-size: 23px;
  font-weight: 800;
  margin-bottom: 26px;
}

.header-main__hero .hero-list {
  list-style: none;
  margin: 0 0 15px 0;
  padding: 0;
}

.header-main__hero .hero-list_bold {
  position: absolute;
  color: #01985d;
  font-weight: 900;
  background: none;
  overflow: hidden;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.header-main__hero .hero-list_bold::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  right: 0;
  bottom: 6px;
  background: none;
}

.header-main__hero .hero-list li {
  padding-left: 30px;
  position: relative;
  margin-bottom: 12px;
  font-size: 20px;
}

.header-main__hero .hero-list li .hero-list_bold_last {
  position: relative;
  overflow: hidden;
  max-width: calc(100% - 120px);
  display: inline-block;
  vertical-align: bottom;
}

.header-main__hero .hero-list li .hero-list_bold_last::after {
  content: '.....................................................................................................................................................................';
}

.header-main__hero .hero-list li::before {
  content: '';
  position: absolute;
  width: 18px;
  height: 18px;
  top: 2px;
  left: 0;
}

.header-main__hero .hero-subtitle {
  font-size: 20px;
  text-align: center;
  margin-bottom: 15px;
}

.header-main__hero .hero-form {
  text-align: center;
}

.header-main__hero .hero-form__input {
  width: 80%;
  margin-bottom: 13px;
  padding: 14px;
  font-size: 18px;
  border-radius: 50px;
}

.header-main__hero .hero-form__button {
  margin: 20px 0;
}

.header-main__hero .hero-agreement {
  margin: auto;
  max-width: 80%;
  display: block;
  color: #000;
  text-align: center;
  font-size: 12px;
}

.header-social {
  margin-top: 37px;
}

.header-social_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header-social_item {
  margin-right: 10px;
  width: 25px;
  height: 25px;
}

.header-social_title {
  margin-right: 10px;
  font-size: 13px;
  font-weight: 700;
}

.header-title {
  position: relative;
  z-index: 1;
  margin-top: 0;
  margin-bottom: 10px;
  display: block;
  font-size: 28px;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
}

.header-title_first {
  font-size: 40px;
}

.header-title_left {
  padding: 7px 10px 2px;
  background: -webkit-gradient(linear, left top, right top, from(#f68b1f), to(#f74c00));
  background: linear-gradient(to right, #f68b1f 0%, #f74c00 100%);
}

.header-title_right {
  display: inline-block;
  text-align: right;
  padding: 0px 10px 0;
  margin-right: auto;
  background: -webkit-gradient(linear, left top, right top, from(#f68b1f), to(#f74c00));
  background: linear-gradient(to right, #f68b1f 0%, #f74c00 100%);
}

.header-title_right_wrapper {
  display: block;
  text-align: right;
}

.circle {
  position: absolute;
  background-color: #c6f0ff;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  right: 11px;
  top: -434px;
  z-index: 0;
}

@media (min-width: 460px) {
  .header-title {
    font-size: 43px;
  }
  .header-title_first {
    font-size: 52px;
  }
  .header-main__hero {
    padding: 35px 38px 23px;
  }
  .header .hero-title {
    font-size: 27px;
  }
  .header .hero-rocket {
    position: absolute;
    right: 12px;
    top: -18px;
  }
  .header .hero-discount {
    position: absolute;
    right: -13px;
    top: -30px;
  }
  .header .hero-gift {
    position: absolute;
    top: -36px;
    right: -8px;
  }
  .header .hero-helicopter {
    width: 200px;
    position: absolute;
    bottom: -104px;
    right: -13px;
  }
  .header .hero-ship {
    position: absolute;
    bottom: -173px;
    left: 17px;
    width: 312px;
  }
  .header .hero-men {
    z-index: 5;
    width: 236px;
    position: absolute;
    top: -258px;
    left: 12px;
  }
  .header .hero-subtitle {
    margin-bottom: 33px;
    font-size: 20px;
  }
  .header .hero-form__input {
    width: 100%;
    margin-left: -10px;
    padding: 14px 0 14px 19px;
  }
  .header .hero-form__button {
    margin: 26px 0;
  }
  .header .hero-list {
    margin-bottom: 30px;
  }
  .header .hero-list li {
    margin-bottom: 17px;
    font-size: 20px;
    padding-right: 120px;
  }
  .header .hero-list li span:first-child {
    position: relative;
    overflow: hidden;
    max-width: 100%;
    display: inline-block;
    vertical-align: bottom;
  }
  .header-social_item {
    margin-right: 30px;
    width: 30px;
    height: 30px;
  }
  .header-social_title {
    margin-right: 23px;
  }
}

@media (min-width: 540px) {
  .header-title {
    font-size: 52px;
  }
  .header-title_first {
    font-size: 60px;
  }
  .header-main__hero .hero-list li {
    padding-right: 120px;
  }
}

@media (min-width: 768px) {
  .header-main {
    margin-top: 84px;
  }
  .header-main__hero_blue {
    margin-bottom: 388px;
  }
  .header-title {
    font-size: 71px;
  }
  .header-title_first {
    font-size: 89px;
  }
  .header .hero-title {
    max-width: 65%;
  }
  .header .hero-rocket {
    right: 100px;
    width: 171px;
  }
  .header .hero-discount {
    width: 133px;
  }
  .header .hero-helicopter {
    right: 13px;
    bottom: -165px;
    width: 300px;
  }
  .header .hero-list li {
    white-space: nowrap;
  }
  .header .hero-ship {
    width: 464px;
    bottom: -260px;
    left: 30px;
  }
  .header .hero-men {
    width: 329px;
    top: -360px;
    left: 25px;
  }
  .header .hero-gift {
    top: -87px;
    right: 12px;
    width: 211px;
  }
  .header .hero-form__inputs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header .hero-form__input {
    margin-left: 0;
    -ms-flex-preferred-size: 46%;
        flex-basis: 46%;
  }
  .circle {
    width: 459px;
    height: 459px;
    top: -630px;
    right: 40px;
  }
}

@media (min-width: 992px) {
  .header {
    background: url("../img/header/background.jpg") center no-repeat;
    background-size: cover;
  }
  .header-title {
    font-size: 94px;
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
  }
  .header-title_first {
    font-size: 115px;
  }
  .header .hero-ship {
    left: 280px;
  }
}

@media (min-width: 1200px) {
  .header-social {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-top: 0;
    position: absolute;
    bottom: 0;
    z-index: 5;
    background-color: rgba(255, 255, 255, 0.6);
    padding: 10px 15px;
  }
  .header-social_title {
    margin-left: 0;
    margin-right: 13px;
  }
  .header-social_item {
    margin-right: 5px;
  }
  .header-social_wrapper {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .header-title {
    max-width: 1170px;
    margin-bottom: 27px;
  }
  .header-title_left {
    padding-left: 80px;
    padding-right: 70px;
  }
  .header-title_right {
    padding-left: 80px;
    padding-right: 70px;
  }
  .header-main {
    position: relative;
    margin-top: 95px;
  }
  .header-main__hero {
    width: 63%;
  }
  .header-main__hero_blue {
    margin-bottom: 25px;
  }
  .header-main__hero_blue .hero-subtitle {
    margin-left: 80px;
  }
  .header-main__hero_green {
    margin-left: auto;
  }
  .header-main__hero_green .hero-list {
    max-width: 73%;
  }
  .header .hero-rocket {
    z-index: -1;
    width: 191px;
    right: 165px;
    top: -39px;
  }
  .header .hero-discount {
    width: 214px;
    right: -50px;
    top: -60px;
  }
  .header .hero-helicopter {
    width: 309px;
    right: -325px;
    top: -31px;
  }
  .header .hero-ship {
    z-index: -1;
    width: 483px;
    right: -322px;
    top: 82px;
    left: auto;
  }
  .header .hero-gift {
    width: 268px;
    right: -25px;
    top: -40px;
  }
  .header .hero-men {
    top: auto;
    bottom: -35px;
    width: 367px;
    left: -350px;
  }
  .header .hero-title {
    font-size: 30px;
    margin-bottom: 5px;
  }
  .header .hero-list {
    margin-bottom: 0;
  }
  .header .hero-list li {
    padding-right: 0;
    margin-right: 120px;
    margin-bottom: 7px;
  }
  .header .hero-list_bold {
    font-size: 23px;
    right: -135px;
  }
  .header .hero-subtitle {
    text-align: left;
    margin-bottom: 17px;
  }
  .header .hero-form {
    margin-bottom: 13px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header .hero-form__input {
    margin: 0;
    margin-right: 20px;
    padding-top: 17px;
    padding-bottom: 17px;
  }
  .header .hero-form__button {
    margin: 0;
  }
  .header .hero-agreement {
    text-align: left;
    max-width: 100%;
  }
  .circle {
    width: 577px;
    height: 577px;
    top: -490px;
    right: 148px;
    z-index: 0;
  }
}

.about {
  text-align: center;
  background: #fff;
  padding-top: 62px;
  padding-bottom: 50px;
}

.about_wrapper {
  overflow: hidden;
  padding: 0;
}

.about-img {
  margin-bottom: 30px;
}

.about-button {
  font-size: 14px;
}

.about-text p {
  margin: 0;
  margin-bottom: 40px;
  position: relative;
  font-size: 18px;
}

.about-text p::after {
  content: '';
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: -20px;
  height: 1px;
  width: 124px;
  background: -webkit-gradient(linear, left top, right top, from(rgba(228, 228, 228, 0)), color-stop(50%, #e4e4e4), to(rgba(228, 228, 228, 0)));
  background: linear-gradient(to right, rgba(228, 228, 228, 0) 0%, #e4e4e4 50%, rgba(228, 228, 228, 0) 100%);
}

.about-text p:last-child:after {
  width: 0;
}

.about-subtitle {
  font-size: 18px;
}

@media (min-width: 460px) {
  .about-button {
    font-size: 20px;
  }
}

@media (min-width: 992px) {
  .about_wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
  .about_wrapper .container {
    max-width: 740px;
  }
}

@media (min-width: 1200px) {
  .about {
    -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
            box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
  }
  .about-image {
    background: url("../img/about/bg-repeat.png") top repeat-y;
    background-size: contain;
    -ms-flex-preferred-size: 9%;
        flex-basis: 9%;
  }
  .about_wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
  .about {
    border: 1px solid #98b9d0;
    padding-top: 96px;
    padding-bottom: 81px;
    -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
            box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
  }
  .about_wrapper .container {
    -ms-flex-preferred-size: 82%;
        flex-basis: 82%;
    margin: 0;
    max-width: 100%;
  }
  .about p {
    font-size: 20px;
  }
  .about-content {
    padding-left: 60px;
    text-align: left;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    margin-bottom: 70px;
  }
  .about-text {
    max-width: 550px;
  }
  .about-text p::after {
    width: 460px;
    left: 0;
    -webkit-transform: translateX(0);
            transform: translateX(0);
    background: -webkit-gradient(linear, left top, right top, from(#e4e4e4), to(rgba(228, 228, 228, 0)));
    background: linear-gradient(to right, #e4e4e4 0%, rgba(228, 228, 228, 0) 100%);
  }
  .about-text p:last-child {
    margin-bottom: 0;
  }
  .about-subtitle {
    margin-left: auto;
    margin-right: auto;
    max-width: 50%;
  }
}

@media (min-width: 1300px) {
  .about_wrapper .container {
    -ms-flex-preferred-size: 82%;
        flex-basis: 82%;
  }
  .about_wrapper .about-image {
    -ms-flex-preferred-size: 9%;
        flex-basis: 9%;
  }
}

@media (min-width: 1580px) {
  .about_wrapper .container {
    -ms-flex-preferred-size: 76%;
        flex-basis: 76%;
  }
  .about_wrapper .about-image {
    -ms-flex-preferred-size: 12%;
        flex-basis: 12%;
  }
}

@media (min-width: 1740px) {
  .about_wrapper .container {
    -ms-flex-preferred-size: 72%;
        flex-basis: 72%;
  }
  .about_wrapper .about-image {
    -ms-flex-preferred-size: 14%;
        flex-basis: 14%;
  }
}

.services {
  background: #26282b;
  color: #fff;
  text-align: center;
}

.services-blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.services-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 90px;
}

.services-block__hover:hover .services-block__img {
  background-color: rgba(255, 255, 255, 0.5);
}

.services-block__img {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  width: 297px;
  height: 297px;
  background-color: rgba(255, 255, 255, 0.1);
  margin-bottom: 40px;
  position: relative;
}

.services-block__img:hover {
  background-color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
}

.services-block__img_discount {
  position: absolute;
  width: 124px;
  top: -3px;
  right: -3px;
}

.services-block__img_discount:hover ~ .services-block__img {
  background-color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
}

.services-block__img_seo {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.services-block__img_seo img {
  margin-left: 94px;
  margin-top: 90px;
}

.services-block__title {
  display: inline-block;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  color: #ffffff;
  font-size: 23px;
  text-decoration: none;
  margin-bottom: 50px;
  position: relative;
}

.services-block__title::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -1px;
  left: 0;
  background: #fff;
}

@media (min-width: 1200px) {
  .services {
    background: #26282b url("../img/services/background.png") center no-repeat;
    background-size: cover;
  }
  .services .container {
    width: 82%;
  }
  .services-blocks {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .services-block {
    margin-bottom: 0;
  }
}

.stages-blocks {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.stages-block {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  background: url("../img/stages/bg-o.png") center no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 280px;
  height: 167px;
}

.stages-block:hover {
  cursor: pointer;
}

.stages-block__img {
  margin-right: 13px;
}

.stages-block__title {
  font-size: 14px;
  font-weight: 500;
}

.stages-block_active {
  background: url("../img/stages/bg-fill.png") center no-repeat;
  color: #fff;
}

.stages-block__number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 21px;
  font-weight: 700;
  z-index: 5;
  width: 45px;
  height: 45px;
  color: #000;
  background: #fff;
  border-radius: 50%;
  -webkit-box-shadow: 0 15px 12px rgba(0, 0, 0, 0.3);
          box-shadow: 0 15px 12px rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

@media (min-width: 768px) {
  .stages-block {
    width: 418px;
    height: 183px;
    background: url("../img/stages/bg-o_md.png") center no-repeat;
  }
  .stages-block__title {
    font-size: 16px;
  }
  .stages-block_active {
    background: url("../img/stages/bg-fill_md.png") center no-repeat;
  }
}

@media (min-width: 1200px) {
  .stages {
    border: 1px solid #98b9d0;
    width: 100%;
    -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
            box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
    padding-bottom: 183px;
    background: #fff;
    padding-top: 90px;
  }
  .stages-wrapper {
    padding: 0;
    background: url("../img/stages/bg.png") center no-repeat;
  }
  .stages-wrapper .container {
    width: 82%;
    max-width: 1250px;
    padding: 0;
  }
  .stages-blocks {
    padding-right: 10px;
    padding-left: 10px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .stages-block {
    background: url("../img/stages/bg-o_lg.png") center no-repeat;
    height: 109px;
    margin-right: 0;
    margin-bottom: 0;
    padding-top: 19px;
    padding-bottom: 18px;
    width: 289px;
    background-size: contain;
    background-size-font-size: 16px;
    background-size-font-weight: 600;
    background-size-max-width: 113px;
    background-size-text-align: left;
  }
  .stages-block__img {
    text-align: right;
    -ms-flex-preferred-size: 30%;
        flex-basis: 30%;
  }
  .stages-block__title {
    font-weight: 600;
    text-align: left;
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
  .stages-block__number {
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    left: -22px;
  }
  .stages-block__number_first {
    left: -12px;
  }
  .stages-block_active {
    background: url("../img/stages/bg-fill_lg.png") center no-repeat;
    background-size: contain;
  }
}

.works {
  background: #f6f7f9;
}

.works-slide {
  padding-bottom: 30px;
  margin: 0 15px;
}

.works-slider {
  text-align: center;
}

.works-slider img {
  display: inline-block !important;
  -webkit-box-shadow: 0 15px 20px rgba(0, 0, 0, 0.25);
          box-shadow: 0 15px 20px rgba(0, 0, 0, 0.25);
}

.works-next, .works-prev {
  z-index: 5;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 20px;
  height: 35px;
  border: none;
  outline: none;
}

.works-next:hover, .works-prev:hover {
  cursor: pointer;
}

.works-next {
  background: url("../img/works/arrow-right.png") center no-repeat;
  right: 0;
}

.works-prev {
  background: url("../img/works/arrow-left.png") center no-repeat;
  left: 0;
}

@media (min-width: 992px) {
  .works-next {
    right: 10%;
  }
  .works-prev {
    left: 10%;
  }
}

@media (min-width: 1200px) {
  .works .container {
    width: 82%;
  }
  .works-next {
    right: -5%;
  }
  .works-prev {
    left: -5%;
  }
}

.dots {
  overflow: hidden;
  padding: 0;
}

.info {
  position: relative;
  background: #ffffff;
  text-align: center;
}

.info::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: -20%;
  width: 10000%;
  height: 6px;
  background: #f6f7f9;
}

.info-blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.info-block {
  padding: 0 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 210px;
  position: relative;
  margin-bottom: 30px;
  z-index: 1;
  border-radius: 8px;
}

.info-block::before {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  right: 0;
  background: url("../img/info/bg.png") right bottom no-repeat;
}

.info-block_yellow {
  background-color: #f6891e;
}

.info-block_red {
  background-color: #d63933;
}

.info-block_blue {
  background-color: #2283c7;
}

.info-block_green {
  background-color: #1bb363;
}

.info-block__title {
  color: #ffffff;
  font-size: 18px;
  margin-bottom: 15px;
}

.info-block__button {
  font-weight: 600;
  background: #ffffff;
  font-size: 14px;
  color: #000;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  text-transform: none;
  padding: 17px 36px;
}

.info-block__button:hover {
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  background: #fff;
}

@media (min-width: 460px) {
  .info-block__title {
    margin-bottom: 35px;
  }
}

@media (min-width: 576px) {
  .info-block {
    margin-bottom: 30px;
    width: 496px;
  }
  .info-block__title {
    font-size: 20px;
  }
  .info-block__button {
    font-size: 16px;
  }
}

@media (min-width: 1200px) {
  .dots {
    position: relative;
    z-index: 1;
    background: url("../img/info/background.png") top repeat-x;
  }
  .dots .container {
    width: 82%;
  }
  .dots::before {
    content: '';
    width: 100%;
    height: 22px;
    top: 140px;
    left: 0;
    position: absolute;
    z-index: -1;
    background: url("../img/info/bg-line.png") center repeat-x;
  }
  .info {
    border: 1px solid #98b9d0;
    margin-bottom: 4px;
    -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
            box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
    padding-right: 35px;
    padding-left: 35px;
  }
  .info::after {
    display: none;
  }
  .info-blocks {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .info-block {
    -ms-flex-preferred-size: 43%;
        flex-basis: 43%;
    margin-bottom: 40px;
  }
}

.reviews {
  background-color: #fff;
  padding-left: 25px;
  padding-right: 25px;
  margin-bottom: 15px;
  position: relative;
}

.reviews-guarantee {
  display: none;
  z-index: 5;
}

.reviews-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 35px;
  border-radius: 50px;
  background-color: #f6f7f9;
  position: relative;
  z-index: 1;
  margin-bottom: 30px;
  -webkit-transform: translateX(12px);
          transform: translateX(12px);
}

.reviews-block::before {
  z-index: -1;
  content: '';
  position: absolute;
  bottom: -5px;
  left: -27px;
  width: 84px;
  height: 50px;
  background: url("../img/reviews/tail.png") center no-repeat;
}

.reviews-block_right {
  -webkit-transform: translateX(-12px);
          transform: translateX(-12px);
}

.reviews-block_right::before {
  right: -27px;
  left: auto;
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
  -webkit-filter: FlipH;
          filter: FlipH;
}

.reviews-block__image {
  text-align: center;
  margin-bottom: 30px;
}

.reviews-block__name {
  font-size: 13px;
  font-weight: 700;
  color: #f68b1f;
}

.reviews-block__company {
  font-size: 13px;
  color: #f68b1f;
  margin-bottom: 20px;
}

.reviews-block__comment {
  font-size: 18px;
  font-style: italic;
}

@media (min-width: 768px) {
  .reviews-block {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .reviews-block__text {
    -ms-flex-preferred-size: 68%;
        flex-basis: 68%;
  }
  .reviews-block__image {
    margin: 0;
    -ms-flex-preferred-size: 20%;
        flex-basis: 20%;
  }
  .reviews-block_right {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .reviews-block__name {
    font-size: 15px;
  }
  .reviews-block__company {
    font-size: 15px;
  }
  .reviews-block__comment {
    font-size: 20px;
  }
}

@media (min-width: 992px) {
  .reviews-guarantee {
    display: block;
    position: absolute;
    width: 150px;
    top: 30px;
    right: 30px;
  }
  .reviews-block {
    width: 700px;
  }
  .reviews-block_right {
    margin-left: auto;
  }
}

@media (min-width: 1200px) {
  .reviews {
    border: 1px solid #98b9d0;
    -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
            box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
    padding-left: 130px;
    padding-right: 130px;
  }
  .reviews-guarantee {
    width: auto;
    position: absolute;
    top: 50px;
    right: 55px;
  }
}

.buttons {
  padding-top: 0;
  text-align: center;
}

.buttons-title {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 25px;
}

.buttons .button {
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  .buttons-title {
    font-size: 20px;
  }
}

.footer {
  background-color: #26282b;
  padding-top: 45px;
  padding-bottom: 38px;
}

.footer-blocks {
  margin: auto;
  max-width: 160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.footer-block {
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
  list-style: none;
}

.footer-block li {
  margin-bottom: 10px;
}

.footer-block__item {
  display: inline-block;
  color: #d3d3d3;
  font-size: 14px;
  text-decoration: none;
  vertical-align: middle;
  position: relative;
}

.footer-block a.footer-block__item::after {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  content: '';
  position: absolute;
  bottom: -4px;
  height: 2px;
  background-color: rgba(211, 211, 211, 0.8);
  left: 50%;
  width: 0;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.footer-block a.footer-block__item:hover:after {
  z-index: 1;
  width: 100%;
}

.footer-block img {
  vertical-align: middle;
}

.footer-social {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-social__item {
  width: 30px;
  height: 30px;
}

.footer-social__item:hover .svg path {
  fill: #f68b1f;
}

.footer-social .svg {
  width: 30px;
  height: 30px;
}

.footer-social .svg path {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  fill: #a2a2a2;
}

.footer-logo {
  margin-top: 20px;
  color: #d3d3d3;
  font-size: 15px;
  text-align: center;
}

@media (min-width: 768px) {
  .footer-blocks {
    margin: 0;
    max-width: 100%;
    -ms-flex-line-pack: distribute;
        align-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    max-height: 180px;
  }
  .footer-block {
    margin-bottom: 0;
    max-width: 180px;
  }
  .footer-block li {
    margin-bottom: 5px;
  }
  .footer-block__item {
    font-size: 16px;
  }
  .footer-logo {
    margin-top: 40px;
  }
}

@media (min-width: 992px) {
  .footer-blocks {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .footer-logo {
    margin-top: 10px;
  }
  .footer-social {
    margin-top: 10px;
  }
}
