.about
  text-align: center
  background: #fff
  padding-top: 62px
  padding-bottom: 50px
  &_wrapper
    overflow: hidden
    padding: 0
  &-img
    margin-bottom: 30px
  &-button
    font-size: 14px
  &-text
    p
      margin: 0
      margin-bottom: 40px
      position: relative
      font-size: 18px
      &::after
        content: ''
        position: absolute
        left: 50%
        transform: translateX(-50%)
        bottom: -20px
        height: 1px
        width: 124px
        background: linear-gradient(to right, rgba(#e4e4e4, 0) 0%, #e4e4e4 50%, rgba(#e4e4e4, 0) 100%)
      &:last-child:after
        width: 0
  &-subtitle
    font-size: 18px
@media (min-width: 460px)
  .about-button
    font-size: 20px
@media (min-width: 992px)
  .about_wrapper
    display: flex
    align-items: stretch
    justify-content: space-between
    .container
      max-width: 740px
@media (min-width: 1024px)
  .about
    box-sizing: border-box
    
    margin: 0 auto
    box-shadow: 0 0 30px  rgba(0, 0, 0, 0.10)
    border: 1px solid #98b9d0
    border-bottom: none
    &-image
      background: url("../img/about/bg-repeat.png") top repeat-y
      background-size: contain
      width:  18.75%
    &_wrapper
      .container
        max-width: 100%
        width: 62.5%
        padding: 0
      display: flex
      align-items: stretch
    padding-top: 6%
    padding-bottom: 4%
    max-width: 1200px
    &_wrapper
      .container
        width: 62.5%
        max-width: 1200px
        padding: 0
    p
      margin-bottom: 2vw
      font-size: 1.08vw
      span
        display: block
      &::after
        bottom: -1vw
    &-button
      font-size: 1.1vw
    &-content
      padding-left: 3vw
      text-align: left
      display: flex
      justify-content: space-between
      align-items: center
      flex-direction: row-reverse
      margin-bottom: 3.64vw
    &-text
      flex-basis: 48%
      p
        &:first-child
          white-space: nowrap
        &::after
          width: 70%
          left: 0
          transform: translateX(0)
          background: linear-gradient(to right, #e4e4e4 0%,  rgba(#e4e4e4, 0) 100%)
        &:last-child
          margin-bottom: 0
    &-img
      transform: translateX(-40px) translateY(20px)
      margin: 0
    &-subtitle
      margin-left: auto
      margin-right: auto
      max-width: 52%
      span
        display: block
