.contacts
  display: none
  justify-content: space-between
  flex-direction: column
  position: fixed
  width: 100%
  height: 100%
  z-index: 600
  bottom: 0
  left: 0
  background-color: #ffffff
  overflow: hidden
  padding: 0
  &-links
    top: 40px
    left: 50%
    transform: translateX(-50%)
    position: fixed
    width: 90%
    display: flex
    justify-content: space-between
    align-items: center
    img:hover
      cursor: pointer
  &-hide
    transition: all 0.5s
    transform: scale(1, -1)
    &_active
      transform: scale(1, 1)
  &_wrapper
    margin: 0 auto
    padding-bottom: 67px
    padding-top: 42px
    &_wrapper
      width: 100%
      -webkit-overflow-scrolling: touch
      height: 100%
      display: flex
      flex-direction: column
      justify-content: space-between
      overflow-y: scroll
  font-size: 17px
  &-title
    display: flex
    justify-content: center
    font-weight: 400
    margin-bottom: -5px
    &__text
      padding-top: 18px
    img
      margin-right: 2px
  &-subtitle
    text-align: center
    margin-bottom: 35px
  &-text
    padding-right: 20px
    &__title
      font-weight: 700
      margin-bottom: 35px
    ul
      list-style: none
      padding: 0
      margin: 0
      margin-bottom: 35px
      li
        margin-bottom: 10px
        &:last-child
          margin: 0
        span
          display: block
      &:last-child
        margin-bottom: 60px
  &-short
    display: flex
    justify-content: center
    img
      object-fit: contain
    &_768
      display: none
    &_1024
      display: none
@media  (min-width: 370px)
  .contacts
    font-size: 20px
@media (min-width: 768px)
  .contacts
    &-title
      margin-bottom: 0
      margin-right: 5px
      align-items: center
      &__text
        padding: 0
      &_wrapper
        margin-bottom: 40px
        display: flex
        justify-content: center
        align-items: center
    &-text
      margin-bottom: 70px
      ul
          li
            span
              display: inline
    &-subtitle
      margin: 0
    &-short
      img
        width: 100%
        height: 100%
        max-width: 100%
      &_768
        display: inline-block
      &_480
        display: none
      
@media (min-width: 1024px)
  .contacts
    font-size: 1.05vw
  
    &_wrapper
      padding-bottom: 3.5vw
      padding-top: 2.1875vw
      .container
        max-width: 53vw
    &-title
      &_wrapper
        margin-bottom: 2.08vw
    &-text
      margin-bottom: 3.65vw
      &__title
        margin-bottom: 2.08vw
      ul
        margin-bottom: 2.08vw
        &:last-child
          margin-bottom: 3.65vw
    &-short
      img
        height: 22.8vw
      &_768
        display: none
      &_1024
        display: inline-block 