.header
  position: relative
  background-color: #f0f1eb
  &-menu
    transition: all 0.5s
    z-index: 100
    top: 0
    left: 0
    position: fixed
    padding: 10px 0
    width: 100% 
    background-color: #f5f5f5
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.12)
    &__wrapper
      display: flex
      align-items: center
    &_hidden
      top: -86px
    &__logo
      img
        max-height: 36.02px
      margin-right: 17px
    &__nav
      transition: all 0.5s ease-in-out
      position: fixed
      width: 0  
      height: 120vh
      top: 0
      left: 0
      overflow: hidden
      ul
        padding: 0
        margin: 0
        transition: all 0.5s
        padding-top: 50px
        background-color: #26282b
        width: 100%  
        height: 100%
        display: block
        li
          text-align: center
          white-space: nowrap
          margin-bottom: 70px
          font-size: 20px
          overflow: hidden
          a
            color: #fff
            text-decoration: none
            position: relative
            &::after
              transition: all 0.3s ease-in-out
              content: ''
              position: absolute
              bottom: -5px
              height: 2px
              background-color: rgba(#2b2a2c, .8)
              left: 50%
              width: 0
              transform: translateX(-50%)
            &:hover:after
              z-index: 1
              width: 100%
      &_active
        width: 100%
        ul
          box-shadow: 0px 0px 20px 1px rgba(#000, 0.5)
    &__phone
      color: #000
      text-decoration: none
      font-size: 16px
      font-weight: 800
    &__button
      transition: all 0.5s
      z-index: 1000
      right: 0
      top: 0
      width: 60px
      height: 60px
      border: 0 solid #747474
      background-color: #26282b
      position: fixed
      &_hidden
        top: -84px
      &::before, &::after, span
        transition: all 0.5s
        position: absolute
        width: 26px
        height: 3px
        background-color: #fff
        top: 50%
        margin-top: -1.5px
        left: 50%
        margin-left: -13px
      &::before
        content: ''
        top: 35%
      &::after
        content: ''
        top: 65%
.cross 
  span
    opacity: 0
  &::after
    transform: rotate(135deg)
    top: 50%
  &::before
    transform: rotate(-135deg)
    top: 50% 
@media (min-width: 460px)
  .header
    &-menu
      &__nav
        li
          font-size: 22px
      &__wrapper
        flex-direction: row
      &__phone
        font-size: 18px
      &__button
        width: 60px
        height: 60px
@media (min-width: 768px)
  .header
    &-title
      font-size: 71px
      &_first
        font-size: 89px
    &-menu
      &__logo
        img
          max-height: 60.02px
        margin-right: 68px
      &__phone
        font-size: 25px
      &__button
        width: 84px
        height: 84px
        &::before, &::after, span
          width: 36px
          height: 4px
          margin-left: -18px
        &::before
          top: 38%
        &::after
          top: 62%
.cross 
  span
    opacity: 0
  &::after
    transform: rotate(-135deg)
    top: 50%
  &::before
    transform: rotate(135deg)
    top: 50% 

@media (min-width: 992px)
  .header
    
    &-menu
      &__logo
        margin-right: 20px
      &__wrapper
        justify-content: space-between
      &__phone
        position: relative
        &::after
          transition: all 0.3s ease-in-out
          content: ''
          position: absolute
          bottom: -5px
          height: 2px
          background-color: rgba(#2b2a2c, .8)
          left: 50%
          width: 0
          transform: translateX(-50%)
        &:hover:after
          width: 100%
      &__nav
        width: auto
        height: auto
        position: relative
        overflow: initial
        ul
          background: none
          width: auto
          height: auto
          display: flex
          justify-content: space-between
          align-items: center
          padding: 0
          margin: 0
          list-style: none
          li
            overflow: initial
            margin: 0
            a
              margin-right: 10px
              color: #000
              font-size: 15px
          
      &__button
        display: none
      &__phone
        font-size: 20px
@media (min-width: 1024px)
  .header
    &-menu
      .container
        max-width: 1200px
        width: 62.5%
        padding: 0
      &__nav
        ul
          li
            display: flex
            a
              font-size: 1.07vw
      &__phone
        white-space: nowrap
        font-size: 1.1vw
        // transform: translateY(5%)
      &__logo
        width: 20vw
@media (min-width: 1200px)
  .header
    &-menu
      &__nav
        ul
          li
            a
              // font-size: 21px
              margin-right: 15px