.stages
  &-blocks
    text-align: center
    display: flex
    flex-direction: column
    align-items: center
  &-block
    box-sizing: border-box
    position: relative
    background: url("../img/stages/bg-o.png") center no-repeat
    display: flex
    justify-content: center
    align-items: center
    width: 280px
    height: 167px
    &:hover
      cursor: pointer
    &__img
      margin-right: 13px
    &__title
      font-size: 14px
      font-weight: 500
    &_active
      background: url("../img/stages/bg-fill.png") center no-repeat
      color: #fff
    &__number
      display: flex
      align-items: center
      justify-content: center
      font-size: 21px
      font-weight: 700
      z-index: 5
      width: 45px
      height: 45px  
      color: #000
      background: #fff
      border-radius: 50%
      box-shadow: 0 15px 12px rgba(0, 0, 0, 0.3)
      position: absolute
      top: 0
      left: 50%
      transform: translateX(-50%)
@media (min-width: 768px)
  .stages
    &-block
      width: 418px
      height: 183px
      background: url("../img/stages/bg-o_md.png") center no-repeat
      &__title
        font-size: 16px
      &_active
        background: url("../img/stages/bg-fill_md.png") center no-repeat
@media (min-width: 1024px)
  .stages
    border: 1px solid #98b9d0
    width: 100%
    box-shadow: 0 0 30px  rgba(0, 0, 0, 0.10)
    background: #ffffff
    padding-top: 95px
    padding-bottom: 65px
    &-wrapper
      .container
        width: 62.5%
        max-width: 1200px
        padding: 0
      padding: 0
      background: url("../img/info/background.png")
    box-sizing: border-box
    border: 1px solid #98b9d0
    box-shadow: 0 0 30px  rgba(0, 0, 0, 0.10)
    padding-bottom: 17%
    padding-top: 5%
    background: #fff
    &-wrapper
      padding: 0
      background: url("../img/stages/bg.png") center no-repeat
    &-blocks
      padding-left: 40px
      padding-right: 40px
      // transform: translateX(10px)
      justify-content: center
      flex-direction: row
    &-block
      background: url("../img/stages/bg-o_lg.png") center no-repeat
      height: 109px
      margin-right: 0
      margin-bottom: 0
      padding-top: 19px
      padding-bottom: 18px
      width: 289px
      background-size: contain
      
      font-weight: 600
      text-align: left
      &__img
        text-align: right
        flex-basis: 20%
        img
          max-height: 100%
      &__title
        font-size: 16px
        white-space: nowrap
        font-size: 1vw
        font-weight: 600
        text-align: left
        flex-basis: 40%
        span
          display: block
      &__number
        font-size: 1vw
        top: 50%
        transform: translateY(-50%)
        width: 30px
        height: 30px
        left: -22px
        &_first
          left: -12px
      &_active
        background: url("../img/stages/bg-fill_lg.png") center no-repeat
        background-size: contain
@media (min-width: 1500px)
  .stages-block__img
    flex-basis: 30%
  .stages-block__title
    font-size: 16px
  .stages-block__number
    width: 45px
    height: 45px