.stages
  &-popup
    display: flex
    flex-direction: column
    padding: 30px 12px 40px
    display: none
    box-shadow: 0 0 50px  rgba(0, 0, 0, 0.20)
    min-height: 100%
    border: 2px solid #f6881d
    background: #fff
    &__close
      &:hover
        cursor: pointer
    &__top
      transform: scale(1, -1)
      &:hover
        cursor: pointer
    &__links
      // transition: all 0.1s
      z-index: 5
      top: 80px
      left: 0
      width: 100%
      position: sticky
      display: flex
      // justify-content: flex-end
      justify-content: space-between
      align-items: center
      
    &__descr
      font-size: 18px
      p
        margin: 30px 0
    &__number
      display: none
    &__hide
      display: none
      
    &__title
      font-size: 18px
      font-weight: 700
      margin: 0
      margin-bottom: 26px
      &_center
        text-align: center
    &__top
      &_active
        transform: scale(1, 1)
    &__select
      appearance: none
      border: 1px solid #000000
      border-radius: 50px
      padding-left: 28px
      padding-top: 16px
      padding-bottom: 16px
      width: 100%
      margin-right:
      &_wrapper
        max-width: 360px
        margin: auto
        width: 100%
        position: relative
        margin-bottom: 26px
      &_nav
        position: absolute
        top: 50%
        width: 34px
        height: 34px
        transform: translateY(-50%)
        border: none
        border-radius: 50%
        &:hover
          cursor: pointer
        &_up
          display: none
          right: 52px
          background: $active url("../img/stages/top.png") center no-repeat
        &_down
          right: 14px
          background: $active url("../img/stages/bott.png") center no-repeat
    .button
      display: flex
      margin: auto
    &__hero
      padding-top: 54px
      padding-bottom: 22px
      border-radius: 15px
      margin-bottom: 50px
      text-align: center
      background-image: linear-gradient(to right, #d0fed3 0%, #8effc3 100%)
      border: 1px solid #01a759
      form
        display: flex
        flex-direction: column
        align-items: center
      .button
        margin-top: 20px
      &_input
        width: 80%
        margin-bottom: 13px
        padding: 14px 
        font-size: 18px
        border-radius: 50px
        border: 1px solid #01a056
        background-color: #daffdd
      &_agreement
        margin: auto
        margin-top: 25px
        max-width: 80%
        display: block
        color: #000
        text-align: center
        font-size: 12px

    &__form
      margin-bottom: 46px
    &__link
      font-size: 14px
      background: none
      border: none
      position: relative
      &:hover
        cursor: pointer
      &_next
        position: relative
        &::before, &::after
          content: ''
          width: 8px
          height: 10px
          position: absolute
          right: -8px
          top: 50%
          transform: translateY(-50%) scale(-1, 1)
          background: url('../img/arrow-right.png') center no-repeat
        &::after
          right: -13px
      &_prev
        position: relative
        &::before, &::after
          content: ''
          width: 8px
          height: 10px
          position: absolute
          left: -8px
          top: 50%
          transform: translateY(-50%) 
          background: url('../img/arrow-right.png') center no-repeat
        &::after
          left: -13px
      &_back
        margin-right: 30px
        &::before
          content: ''
          width: 8px
          height: 10px
          position: absolute
          left: -10px
          top: 50%
          transform: translateY(-50%)
          background: url('../img/arrow-right.png') center no-repeat 
    &__nav
      display: flex
      justify-content: center
    &s
      display: none
      z-index: 50
      position: absolute
      
      box-shadow: 0 0 8px rgba(0, 0, 0, 0.1)
      height: 100%  
      width: 100%
      left: 50%
      transform: translateX(-50%) 
      top: 0
  &-wrapper
    position: relative
    overflow: initial
  &-blocks
    text-align: center
    display: flex
    flex-direction: column
    align-items: center
  &-block
    box-sizing: border-box
    position: relative
    background: url("../img/stages/bg-o.png") center no-repeat
    display: flex
    justify-content: center
    align-items: center
    width: 280px
    height: 167px
    &:hover
      cursor: pointer
    &__img
      margin-right: 13px
    &__title
      font-size: 14px
      font-weight: 500
    &_active
      background: url("../img/stages/bg-fill.png") center no-repeat
      color: #fff
    &__number
      display: flex
      align-items: center
      justify-content: center
      font-size: 21px
      font-weight: 700
      z-index: 5
      width: 45px
      height: 45px  
      color: #000
      background: #fff
      border-radius: 50%
      box-shadow: 0 15px 12px rgba(0, 0, 0, 0.3)
      position: absolute
      top: 0
      left: 50%
      transform: translateX(-50%)
@media (min-width: 380px)
  .stages
    &-popup
      padding: 30px 40px 40px
@media (min-width: 768px)
  .stages
    &-popup
      padding: 30px 60px 40px
      &__title
        font-size: 20px
      &__select
        &_wrapper
          width: 360px
      &__descr
        font-size: 20px
      &__hero
        &_inputs
          display: flex
          justify-content: space-between
        &_input
          flex-basis: 48%
    &-block
      width: 418px
      height: 183px
      background: url("../img/stages/bg-o_md.png") center no-repeat
      &__title
        font-size: 16px
      &_active
        background: url("../img/stages/bg-fill_md.png") center no-repeat
@media (min-width: 1024px)
  .stages
    border: 1px solid #98b9d0
    width: 100%
    box-shadow: 0 0 30px  rgba(0, 0, 0, 0.10)
    background: #ffffff
    padding-top: 95px
    padding-bottom: 65px
    &-popup
      padding: 1.5625vw 3.125vw 2.08vw
      // padding-right: 1.04vw
      &s
        top: 60%
        max-width: 58vw
      &__form
        display: flex
        align-items: baseline
        justify-content: center
        margin-bottom: 3.125vw
      &__hide
        display: inline-block
        margin-right: 0.9375vw
        margin-bottom: 1px
      &__links
        margin-bottom: 1.5vw
      &__top
        display: inline-block
      .button
        margin: 0
      &__hero
        padding: 2.13vw 2.4vw 1vw 2.6vw 
        margin-right: 5.2vw
        margin-left: 3.125vw
        form
          flex-direction: row
          justify-content: space-between
        &_input
          margin: 0
          font-size: 1vw
          margin-right: 1vw
          padding-top: 0.88vw
          padding-bottom: 0.88vw
          padding-left: 1vw
          flex-basis: 46%
        &_agreement
          margin-top: 0.68vw
          text-align: left
          font-size: 0.65vw
          max-width: 100%
      &__select
        padding-left: 1.46vw
        padding-top: 0.8vw
        padding-bottom: 0.8vw
        font-size: 1vw
        option
          font-size: 1vw
        &_wrapper
          width: 18.75vw
          margin: 0 3.125vw
        &_nav_up, &_nav_down
          width: 1.7vw
          height: 1.7vw
      &__title
        margin-bottom: 0
        font-size: 1.04vw
      &__links
        align-items: flex-end
        margin-bottom: 3.4vw
      &__link
        font-size: 0.78125vw
        &_back
          margin-right: 2vw
      &__content
        padding: 0 5.2vw 0 3.125vw
      &__descr
        p
          margin: 1.5625vw 0
          font-size: 1.04vw
      
      &__number
        font-size: 1.04vw
        display: block
        position: absolute
        top: 5.625vw
        left: 2.7vw
        width: 2.34vw
        height: 2.34vw
        background: $active
        display: flex
        align-items: center
        justify-content: center
        color: #ffffff
        border-radius: 50%
        
    &-wrapper
      .container
        width: 62.5%
        max-width: 1200px
        padding: 0
      padding: 0
      background: url("../img/info/background.png")
    box-sizing: border-box
    border: 1px solid #98b9d0
    border-top: none
    box-shadow: 0 0 30px  rgba(0, 0, 0, 0.10)
    padding-bottom: 17%
    padding-top: 5%
    background: #fff
    &-wrapper
      padding: 0
      background: url("../img/stages/bg.png") center no-repeat
      background-size: 138vw
    &-blocks
      padding-left: 3vw
      padding-right: 3vw
      // transform: translateX(10px)
      justify-content: center
      flex-direction: row
    &-block
      background: url("../img/stages/bg-o_lg.png") center no-repeat
      height: 109px
      margin-right: 0
      margin-bottom: 0
      padding-top: 19px
      padding-bottom: 18px
      width: 289px
      background-size: contain
      
      font-weight: 600
      text-align: left
      &__img
        text-align: right
        flex-basis: 20%
        img
          max-height: 100%
      &__title
        font-size: 16px
        white-space: nowrap
        font-size: 1.05vw
        font-weight: 600
        text-align: left
        flex-basis: 40%
        span
          display: block
      &__number
        font-size: 1.05vw
        top: 50%
        transform: translateY(-50%)
        width: 30px
        height: 30px
        left: -17px
        &_first
          left: -12px
      &_active
        background: url("../img/stages/bg-fill_lg.png") center no-repeat
        background-size: contain
@media (min-width: 1500px)
  .stages-block__img
    flex-basis: 30%
  .stages-block__title
    font-size: 16px
  .stages-block__number
    width: 45px
    height: 45px
    left: -22px